header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ========== CTA ========== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ========== HEADER SOCIALS ========== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ========== ME ========== */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 48rem 25rem 48rem 25rem;
  overflow: hidden;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.me > img {
  width: 22rem; 
  height: 30rem;
  position: absolute;
  left: calc(55% - 11rem);
}

/* ========== SCROLL DOWN ========== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ========== MEDIA QUERIES (1080 x 1090) ========== */
@media screen and (max-width: 1080px) and (max-height: 1090px) {
  header {
    height: 100vh; /* Adjust height as needed */
    padding-top: 5rem; /* Adjust padding-top as needed */
    overflow: hidden;
  }

  .header__container {
    text-align: center;
    height: 100%;
    position: relative;
  }

  /* ========== CTA ========== */
  .cta {
    margin-top: 2rem; /* Adjust margin-top as needed */
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

/* ========== ME ========== */
.me {
  width: 90%; /* Adjust width for smaller screens */
  height: auto; /* Make height auto to maintain aspect ratio */
  max-width: 18rem; /* Limit max width for larger screens */
  max-height: 25rem; /* Limit max height for larger screens */
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  top: 3rem; /* Adjust top positioning as needed */
  border-radius: 50%; /* Make border-radius circular */
  overflow: hidden;
  padding: 1rem; /* Adjust padding as needed */
}

.me > img {
  width: 100%; /* Make image width 100% of parent */
  height: 100%; /* Make image height 100% of parent */
  object-fit: cover; /* Maintain aspect ratio and cover container */
}

 /* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
 @media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}

}